#gitpump-level {
  position: absolute;
  top: 10px;
  left: 45%;
  background: black;
  color: rgb(11, 83, 11);
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  font-size: 14px;
  font-weight: bold;
}

#levelDisplay {
  color: black;
}

#h2forwindow {
  color: rgb(11, 83, 11); 
}

.switch {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 34px;
  background-color: white;
}

.switch_input {
  height: 0;
  width: 0;
  opacity: 0;
}

.switch_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 34px;
  background-color: gray;
  transition: .4s;
}

.switch_slider:before {
  content: "";
  position: absolute;
  cursor: pointer;
  left: 4px;
  bottom: 4px;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-color: white;
  transition: .4s;
}

.switch_input:focus + .switch_slider {
  box-shadow: 0 0 1px lightblue;
}

.switch_input:checked + .switch_slider {
  background-color: lightblue;
}

.switch_input:checked + .switch_slider:before {
  transform:translateX(26px);
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
}